<p>
  coches works!
</p>
<form #formCoche="ngForm" (ngSubmit)="onSubmit()">
<p>
  <label>nombre</label>
  <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="coche.nombre" required/>
</p>

<p>
  <label>caballaje</label>
  <input type="text" name="caballaje" #caballaje="ngModel" [(ngModel)]="coche.caballaje" required/>
</p>

<p>
  <label>color</label>
  <input type="text" name="color" #color="ngModel" [(ngModel)]="coche.color" required/>
</p>

  <input type="submit" value="Guardar">
</form>
